<h3 style="text-align: center">Primeng Design</h3>
<p-table #dt [columns]="selectedColumns" [value]="data" [paginator]="true" [rows]="5">
  <ng-template pTemplate="caption">
    <div style="display: flex;justify-content:space-between">
      <div>
        <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                       selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Choose Columns"></p-multiSelect>
      </div>
      <div >
        <i class="fa fa-search" style="margin:0px 0px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

      </th></tr>
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.field">
        <input  pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
    </div>
  </ng-template>
</p-table>

<p-dialog header="Post Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="400">
  <h2 *ngIf="error">ERROR: {{error}}</h2>

  <div class="ui-g ui-fluid" *ngIf="post">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="userId">UserId</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="userId" [(ngModel)]="post.userId" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="id">Id</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="id" [(ngModel)]="post.id" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="title">Title</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="title" [(ngModel)]="post.title" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="body">Body</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="body" [(ngModel)]="post.body" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
