<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Multi Functional Table
  </h1>
  <h4>Global search</h4>
  <h4>Filter by column</h4>
  <h4>Sort by column</h4>
  <h4>Increase and decrease columns to show</h4>
  <h4>Pagination</h4>

</div>
<div class="fancy-cards" >
  <div class="fancy-card" >
    <div class="top">
      <div class="caption">
        <h3 class="title">PrimeNG Design</h3>
        <a [routerLink]="['/table-with-primeng']" class="button">Find Out </a>
      </div>
    </div>
    <div class="middle"></div>
    <div class="bottom"></div>
  </div>
  <div class="fancy-card" >
    <div class="top1">
      <div class="caption">
        <h3 class="title">Material design</h3>
        <a [routerLink]="['/table-with-material']" class="button">Find Out </a>
      </div>
    </div>
    <div class="middle"></div>
    <div class="bottom"></div>
  </div>
</div>

